<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="../src/site.webmanifest">
        <link rel="apple-touch-icon" href="../src/icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/angular-animate.min.js"></script>
        <script src="js/lib/angular-aria.min.js"></script>
        <script src="js/lib/angular-messages.min.js"></script>
        <!-- Angular Material Library -->
        <script src="js/lib/angular-material.min.js"></script>
        <!-- Jquery Library-->
        <script src="js/lib/jquery.min.js"></script>
        <!-- Bootstrap Library-->
        <script src="js/lib/bootstrap.min.js"></script>
        <!-- Stylesheet Library -->
        <link rel="stylesheet" href="css/lib/bootstrap.min.css">
        <link rel="stylesheet" href="css/lib/angular-material.min.css">
        <link rel="stylesheet" href="css/lib/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div ng-app="myApp" ng-controller="AppCtrl" ng-cloak="" class="toolbardemoBasicUsage" >
            <md-toolbar style="background-color: transparent;">
                <div class="md-toolbar-tools">
                    <div class="col-2 width-70 padding-0">
                        <md-button class="md-icon-button md-button md-ink-ripple" ng-click="goGo('_start.html')">
                            <md-icon md-svg-src="img/icons/arrow_left.svg" style="fill: black;"></md-icon>
                        </md-button>
                    </div>
                    <div class="col-8 text-center black">
                        <h3>Đăng ký</h3>
                    </div>
                    <div class="col-2 text-right">
                    </div>
                </div>
            </md-toolbar>
            <md-content class="overflow-hidden">
                <div class="container-fluid height100 form">
                        <!--<div class="text-center padding-left-30">-->
                            <!--<img src="img/logo/couple.png">-->
                        <!--</div>-->
                        <md-input-container class="md-block">
                            <input ng-model="user.fullname" type="text" placeholder="Họ và tên">
                        </md-input-container>

                        <md-input-container class="md-block ">
                            <input ng-model="user.phone" type="text" placeholder="Số điện thoại">
                        </md-input-container>

                        <md-input-container class="md-block ">
                            <!-- Use floating placeholder instead of label -->
                            <input ng-model="user.email" type="email" placeholder="Email">
                        </md-input-container>

                        <md-input-container class="md-block ">
                            <input ng-model="user.password" type="password" placeholder="Mật khẩu" >
                        </md-input-container>

                        <md-input-container class="md-block ">
                            <input ng-model="user.cpassword" type="password" placeholder="Xác nhận mật khẩu" >
                        </md-input-container>
                        <div layout="column">
                            <md-button class="md-raised md-warn btn-radius">
                                ĐĂNG KÝ
                            </md-button>
                        </div>
                </div>
            </md-content>
            <div class="text-center padding-20">Made with all <i aria-hidden="true" class="fa fa-heart" style="color:#d55"></i> by <a href="https://www.facebook.com/hongquyen196" target="_blank" title="Lê Hồng Quyền">LHQ</a></div>
        </div>


        <script type="text/javascript">

             var app = angular.module('myApp', ['ngMaterial', 'ngMessages']);
             app.controller('AppCtrl', function($scope) {
                 $scope.goGo = function(page) {
                     window.location.href = page;
                 };
             });
        </script>
    </body>
</html>
