<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="../src/site.webmanifest">
    <link rel="apple-touch-icon" href="../src/icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Angular Material requires Angular.js Libraries -->
    <!-- Stylesheet Library -->
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/lib/angular-material.min.css">
    <link rel="stylesheet" href="css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- Add your site or application content here -->
<div ng-app="LoginApp" ng-controller="LoginCtrl">
    <md-toolbar style="background-color: transparent;">
        <div class="md-toolbar-tools">
            <div class="col-2 width-70 padding-0">
                <md-button class="md-icon-button md-button md-ink-ripple" ng-click="redirectPage('./index.html')" aria-label="back">
                    <md-icon md-svg-src="img/icons/arrow_left.svg" style="fill: black;"></md-icon>
                </md-button>
            </div>
            <div class="col-8 text-center black">
                <h3>Đăng nhập</h3>
            </div>
            <div class="col-2 width text-right">
            </div>
        </div>
    </md-toolbar>
    <md-content class="main">
        <div class="container-fluid height100 form">
            <div class="text-center padding-top-50">
                <h3></h3>
            </div>
            <md-input-container class="md-block">
                <input ng-model="login.username" type="text" placeholder="Tài khoản">
            </md-input-container>
            <md-input-container class="md-block">
                <input ng-model="login.password" type="password" placeholder="Mật khẩu">
            </md-input-container>
            <div class="layout-column">
                <md-button class="md-raised md-warn btn-radius margin-0" ng-click="loginSubmit()">Đăng
                    nhập
                </md-button>
            </div>
            <div class="text-center margin-top-15">
                <md-truncate class="md-block">
                    Quên mật khẩu? <a href="resetPassword.html">Nhấn vào đây</a>
                </md-truncate>
            </div>
        </div>
    </md-content>
    <footer class="text-center">
        <p class="margin-8">Made with all <i aria-hidden="true" class="fa fa-heart" style="color:#d55"></i> by <a
            href="https://www.facebook.com/hongquyen196" target="_blank" title="Lê Hồng Quyền">LHQ</a></p>
    </footer>
</div>
<script src="./js/lib/angular.min.js"></script>
<script src="./js/lib/angular-animate.min.js"></script>
<script src="./js/lib/angular-aria.min.js"></script>
<script src="./js/lib/angular-messages.min.js"></script>
<script src="./js/lib/angular-material.min.js"></script>
<script src="./js/lib/ngStorage.min.js"></script>
<script src="./js/lib/angular-route.min.js"></script>
<script src="./js/lib/jquery.min.js"></script>
<script src="./js/lib/bootstrap.min.js"></script>
<script src="./js/screen/Login/LoginMain.js"></script>
<script src="./js/screen/Login/LoginController.js"></script>
<script src="./js/screen/Login/LoginService.js"></script>
</body>
</html>
