<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="../src/site.webmanifest">
    <link rel="apple-touch-icon" href="../src/icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Stylesheet Library -->
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/lib/angular-material.min.css">
    <link rel="stylesheet" href="css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- Add your site or application content here -->
<div ng-app="SearchApp" ng-controller="SearchCtrl">
    <md-toolbar style="background-color: transparent;">
        <div class="md-toolbar-tools">
            <div class="col-2 width-70 padding-0">
                <md-button class="md-icon-button md-button md-ink-ripple" aria-label="back" ng-click="redirectPage('index.html')">
                    <md-icon md-svg-src="img/icons/arrow_left.svg" style="fill: black;"></md-icon>
                </md-button>
            </div>
            <div class="col-8 text-center black">
                <h3>Tìm kiếm máy giặt</h3>
            </div>
            <div class="col-2 width text-right">
            </div>
        </div>
    </md-toolbar>
    <md-content class="main">
        <div class="container-fluid height100 width-300">
            <div class="text-center padding-20">
                <img src="img/logo/magnifyingglass.png">
            </div>
            <md-input-container class="md-block">
                <input ng-model="street" type="text" placeholder="Tên đường">
            </md-input-container>

            <md-input-container class="md-block">
                <input ng-model="ward" type="text" placeholder="Tên phường, quận, xã">
            </md-input-container>

            <md-input-container class="md-block">
                <input ng-model="city" type="text" placeholder="Thành phố, tỉnh">
            </md-input-container>
            <div layout="column">
                <md-button class="md-raised md-warn btn-radius" aria-label="search" ng-click="searchSubmit()">
                    TÌM KIẾM
                </md-button>
            </div>
        </div>
    </md-content>
    <footer class="text-center">
        <p class="margin-8">Made with all <i aria-hidden="true" class="fa fa-heart" style="color:#d55"></i> by <a
            href="https://www.facebook.com/hongquyen196" target="_blank" title="Lê Hồng Quyền">LHQ</a></p>
    </footer>
</div>
<script src="./js/lib/angular.min.js"></script>
<script src="./js/lib/angular-animate.min.js"></script>
<script src="./js/lib/angular-aria.min.js"></script>
<script src="./js/lib/angular-messages.min.js"></script>
<script src="./js/lib/angular-material.min.js"></script>
<script src="./js/lib/ngStorage.min.js"></script>
<script src="./js/lib/angular-route.min.js"></script>
<script src="./js/lib/jquery.min.js"></script>
<script src="./js/lib/bootstrap.min.js"></script>
<script src="./js/screen/Search/SearchMain.js"></script>
<script src="./js/screen/Search/SearchController.js"></script>
<script src="./js/screen/Search/SearchService.js"></script>
</body>
</html>
