<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="x-ua-compatible" content="ie=edge">-->
    <title></title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">


    <link rel="manifest" href="../src/site.webmanifest">
    <link rel="apple-touch-icon" href="../src/icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/angular-aria.min.js"></script>
    <script src="js/lib/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="js/lib/angular-material.min.js"></script>
    <!-- Jquery Library-->
    <script src="js/lib/jquery.min.js"></script>
    <!-- Bootstrap Library-->
    <script src="js/lib/bootstrap.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrhhGDyhWo_AVDw8Jze1iVAs8sXxT6FnI"></script>

    <!-- Stylesheet Library -->
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/lib/angular-material.min.css">
    <link rel="stylesheet" href="css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body id="main-body" class="overflow-hidden">
<!-- Add your site or application content here -->
<div ng-app="myApp" ng-controller="AppCtrl">
    <md-toolbar style="background-color: transparent;">
        <div class="md-toolbar-tools">
            <div class="col-2 width-70 padding-0">
                <!--<a href="login.html"><img src="ico/menu-bar-48.png" width="25"></i></a>-->
                <md-button class="md-icon-button md-button md-ink-ripple hide-gt-sm" ng-click="openNav()">
                    <img src="ico/menu-bar-48.png" aria-label="menu" width="25">
                </md-button>
            </div>
            <div class="col-8 height100">
                <!--<md-input-container md-no-float class="md-block height70 margin-8">-->
                <!--<input ng-model="search" placeholder="Tìm kiếm">-->
                <!--</md-input-container>-->
            </div>
            <div class="col-2 width-70 padding-0">
                <md-button class="md-icon-button md-button md-ink-ripple" aria-label="search"
                           ng-click="goGo('search_washer.html')">
                    <md-icon md-svg-src="svg/search24.svg" style="fill: #975aa6;"></md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <md-content class="main">
        <md-tabs md-dynamic-height md-stretch-tabs md-center-tabs>
            <md-tab id="tab1" aria-controls="tab1-content">
                <md-tab-label>
                    <img src="ico/menu-one-item.png" width="25">
                </md-tab-label>
                <md-tab-body>
                    <md-content ng-style="setStyle" class="tab-body md-padding" style="height: 475px;">
                        <md-list flex="">
                            <md-card ng-repeat="item in washer" class="fabSpeedDial">
                                <img ng-src="{{item.image}}" class="md-image-no-fill border-radius-15"
                                     alt="{{item.city}}" ng-click="alert('Click image')">

                                <!--<md-button class="md-fab md-primary btn-on-img">-->
                                <!--&lt;!&ndash;<md-icon class="size-50" md-svg-src="ico/maps-pin48.svg"></md-icon>&ndash;&gt;-->
                                <!--</md-button>-->
                                <div class="lock-size" class="layout-row">
                                    <md-fab-speed-dial md-open="isOpen" md-direction="{{direction}}"
                                                       ng-class="selectedMode">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab md-warn">
                                                <md-icon md-svg-src="svg/menu.svg"></md-icon>
                                            </md-button>
                                        </md-fab-trigger>
                                        <md-fab-actions>
                                            <md-button aria-label="Google Hangout" class="md-fab md-mini btn-phone"
                                                       ng-click="alert(x)">
                                                <md-icon md-svg-src="svg/phone.svg" style="color: white;"></md-icon>
                                            </md-button>
                                            <md-button aria-label="messenger" class="md-fab md-mini btn-fb-messenger">
                                                <md-icon md-svg-src="svg/fb-messenger.svg"
                                                         style="color: white;"></md-icon>
                                            </md-button>
                                            <md-button aria-label="marker" class="md-fab md-mini btn-map-marker">
                                                <md-icon md-svg-src="svg/map-marker.svg"
                                                         style="color: white;"></md-icon>
                                            </md-button>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>
                                <md-card-actions class="layout-row" layout-align="end center">
                                    <md-card-title class="padding-0">
                                        <md-card-title-text>
                                            <h4>{{item.region}}</h4>

                                            <p>{{item.content}}</p>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-button class="md-raised md-warn btn-radius" style="text-transform: none;"
                                               ng-click="goGo('add_to_order.html')">Chỉ với {{item.price}} đ
                                    </md-button>
                                </md-card-actions>
                            </md-card>
                            <!--<md-subheader class="md-no-sticky">Tìm thấy {{ washer.length }} máy giặt (Thừa Thiên Huế)</md-subheader>-->
                            <!--<md-list-item class="md-3-line" ng-repeat="item in washer" ng-click="null">-->
                            <!--<md-divider></md-divider>-->
                            <!--<img ng-src="{{item.image}}" class="md-avatar" alt="{{item.city}}">-->
                            <!--<div class="md-list-item-text" layout="column">-->
                            <!--<h3>{{ item.region }}</h3>-->
                            <!--<h3 class="text-danger">{{ item.price }} đ</h3>-->
                            <!--<span><i>{{ item.content }}</i></span>-->
                            <!--</div>-->
                            <!--</md-list-item>-->
                        </md-list>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content">
                <md-tab-label>
                    <img src="ico/menu-four-item.png" width="25">
                </md-tab-label>
                <md-tab-body>
                    <md-content ng-style="setStyle" class="tab-body md-padding" style="height: 475px;">
                        <md-card ng-repeat="item in washer" ng-if="$index % 2 == 0" style="height: 320px;">
                            <div class="layout-row">
                                <div class="col-6" style="padding-left: 0px;padding-right: 10px;">
                                    <img class="image border-radius-15" ng-src="{{washer[$index].image}}"
                                         alt="{{washer[$index].city}}" ng-click="alert($index)">
                                    <md-card-title class="padding-0">
                                        <md-card-title-text>
                                            <h4>{{washer[$index].region}}</h4>
                                            <span>{{washer[$index].content}}</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <div class="text-right margin-8">
                                        <md-button class="md-raised md-warn btn-radius"
                                                   style="text-transform: none; font-size: 12px; margin: 0px; float: right;"
                                                   ng-click="goGo('add_to_order.html')">
                                            Chỉ với {{washer[$index].price}} đ
                                        </md-button>
                                    </div>
                                </div>
                                <div class="col-6" style="padding-left: 10px;padding-right: 0px;">
                                    <img class="image border-radius-15" ng-src="{{washer[$index+1].image}}"
                                         alt="{{washer[$index+1].city}}" ng-click="alert($index+1)">
                                    <md-card-title class="padding-0">
                                        <md-card-title-text>
                                            <h4>{{washer[$index+1].region}}</h4>
                                            <span>{{washer[$index+1].content}}</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <div class="text-right margin-8">
                                        <md-button class="md-raised md-warn btn-radius"
                                                   style="text-transform: none; font-size: 12px; margin: 0px; margin-top: 0px;"
                                                   ng-click="goGo('add_to_order.html')">
                                            Chỉ với {{washer[$index+1].price}} đ
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </md-card>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab3" aria-controls="tab3-content">
                <md-tab-label tabindex="0">
                    <img src="ico/maps-pin.png" width="25">
                </md-tab-label>
                <md-tab-body>
                    <md-content ng-style="setStyle" class="tab-body md-padding" style="height: 475px;">
                        <div id="map"></div>
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
    <div id="mySidenav" class="sidenav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <!--<section layout="row" flex>-->

    <!--<md-sidenav class="md-sidenav-left" md-component-id="left"-->
    <!--md-disable-backdrop md-whiteframe="4">-->

    <!--<md-toolbar class="md-theme-indigo">-->
    <!--<h1 class="md-toolbar-tools">Disabled Backdrop</h1>-->
    <!--</md-toolbar>-->

    <!--<md-content layout-margin>-->
    <!--<p>-->
    <!--This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.-->
    <!--</p>-->
    <!--<md-button ng-click="toggleLeft()" class="md-accent">-->
    <!--Close this Sidenav-->
    <!--</md-button>-->
    <!--</md-content>-->

    <!--</md-sidenav>-->

    <!--<md-content flex layout-padding>-->

    <!--<div layout="column" layout-align="top center">-->
    <!--<p>-->
    <!--Developers can also disable the backdrop of the sidenav.<br/>-->
    <!--This will disable the functionality to click outside to close the sidenav.-->
    <!--</p>-->

    <!--<div>-->
    <!--<md-button ng-click="toggleLeft()" class="md-raised">-->
    <!--Toggle Sidenav-->
    <!--</md-button>-->
    <!--</div>-->

    <!--</div>-->

    <!--</md-content>-->

    <!--</section>-->
    <!--<footer class="text-center">-->
    <!--<p class="margin-8">Made with all <i aria-hidden="true" class="fa fa-heart" style="color:#d55"></i> by <a href="https://www.facebook.com/hongquyen196" target="_blank" title="Lê Hồng Quyền">LHQ</a></p>-->
    <!--</footer>-->
</div>

<script type="text/javascript">

    var app = angular.module('myApp', ['ngMaterial', 'ngMessages']);
    app.controller('AppCtrl', function ($scope) {

//        $scope.direction = "up";
//        $(document).ready(function () {
//        $("md-content.tab-body").css({"height": "calc(" + $(window).height() + "px - 13%)"});
//        angular.element(document.querySelector("md-content.tab-body"));

        $scope.setStyle = {
            "height": "calc(" + $(window).height() + "px - 13%)"
        };
        $scope.direction = $(window).width() < 360 ? "right" : "up";

        alert('"height": "calc(' + $(window).height() + 'px - 13%)"  - "width": "' + $(window).width() + '"');

//        });
//        $(document).resize(function () {
//            $("md-content.tab-body").css({"height": "calc(" + $(window).height() + "px - 13%)"});
//            $scope.direction = $(window).width() < 360 ? "right" : "up";
//        });
        $scope.listMarker = [];
        $scope.initialize = function () {
            $scope.map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: new google.maps.LatLng(16.4581519, 107.5961825),
                mapTypeId: 'roadmap',
                scrollwheel: false

            });
            // Create markers.
            var i = 0;
            $scope.features.forEach(function (feature) {
                var object = {
                    id: i++,
                    marker: new google.maps.Marker({
                        position: feature.position,
                        icon: $scope.icons[feature.type].icon,
                        map: $scope.map
                    })
                };
//                console.log(object);
                $scope.listMarker.push(object);
            });
        };

        $scope.features = [
            {
                position: new google.maps.LatLng(16.4581519, 107.5961825),
                type: '24'
            },
            {
                position: new google.maps.LatLng(16.4549983, 107.6025903),
                type: '25'
            },
            {
                position: new google.maps.LatLng(16.4539983, 107.6225903),
                type: '24'
            },
            {
                position: new google.maps.LatLng(16.4529983, 107.6325903),
                type: '25'
            },
            {
                position: new google.maps.LatLng(16.4579983, 107.6425903),
                type: '24'
            },
            {
                position: new google.maps.LatLng(16.4559983, 107.6525903),
                type: '25'
            },
            {
                position: new google.maps.LatLng(16.4569983, 107.6625903),
                type: '24'
            }
        ];

        //var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        $scope.icons = {
            24: {
                icon: './ico/17481343_zS0_icon.ico'
            },
            25: {
                icon: './ico/17481383_Dhc_icon.ico'
            }
        };

        google.maps.event.addDomListener(window, 'load', $scope.initialize);

        for (var mgoogle in $scope.listMarker) {
            google.maps.event.addListener(mgoogle, 'click', function () {
                var infowindow = new mgoogle.maps.InfoWindow({
                    content: "Hello World!"
                });
                infowindow.open($scope.map, mgoogle);
            });
        }


        /*end maps*/

        /**
         * Sidenav
         * @param page
         */




        $scope.isOpenNav = false;
        $scope.openNav = function () {
            if ($scope.isOpenNav) {
                document.getElementById("mySidenav").style.width = "200px";
                $("md-content.main").css({"opacity": "0.3"});
//                document.body.style.opacity = "0.3";
            } else {
                document.getElementById("mySidenav").style.width = "0";
                $("md-content.main").css({"opacity": "unset"});
            }
            $scope.isOpenNav = !$scope.isOpenNav;
        };


        $scope.toggleLeft = buildToggler('left');

        function buildToggler(componentId) {
            return function () {
                $mdSidenav(componentId).toggle();
            };
        }


        $scope.goGo = function (page) {
            window.location.href = page;
        };


        $scope.alert = function (x) {
            alert(x);
        };


        $scope.isOpen = false;

        $scope.selectedMode = 'md-scale';


        var imagePath = '/src/tile.png';
        $scope.imagePath = './img/washer/g1.jpg';
        $scope.imagePath2 = './img/washer/g2.jpg';
        $scope.washer = [
            {
                image: './img/washer/g1.jpg',
                region: 'Phường An Đông',
                city: 'Thừa Thiên Huế',
                price: '12.000',
                content: 'Máy giặt giá rẻ'
            },
            {
                image: './img/washer/g2.jpg',
                region: 'Phường An Cựu',
                city: 'Thừa Thiên Huế',
                price: '15.000',
                content: 'Kèm cả sấy',
            },
            {
                image: './img/washer/g3.jpg',
                region: 'Phường Hương Hồ',
                city: 'Thừa Thiên Huế',
                price: '18.000',
                content: 'Giao đồ miễn phí'
            },
            {
                image: './img/washer/g4.jpg',
                region: 'Phường Vĩnh Ninh',
                city: 'Thừa Thiên Huế',
                price: '20.000',
                content: 'Kèm sấy, ủi'
            },
            {
                image: './img/washer/g1.jpg',
                region: 'Phường An Đông',
                city: 'Thừa Thiên Huế',
                price: '12.000',
                content: 'Máy giặt tốt'
            },
            {
                image: './img/washer/g2.jpg',
                region: 'Phường An Cựu',
                city: 'Thừa Thiên Huế',
                price: '15.000',
                content: 'Kèm cả sấy',
            },
            {
                image: './img/washer/g3.jpg',
                region: 'Phường Hương Hồ',
                city: 'Thừa Thiên Huế',
                price: '18.000',
                content: 'Giao đồ miễn phí'
            },
            {
                image: './img/washer/g4.jpg',
                region: 'Phường Vĩnh Ninh',
                city: 'Thừa Thiên Huế',
                price: '29.000',
                content: 'Kèm sấy, ủi'
            }
        ];
    });
</script>
</body>
</html>
