<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="x-ua-compatible" content="ie=edge">-->
    <title></title>
    <meta name="description" content="">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">


    <link rel="manifest" href="../src/site.webmanifest">
    <link rel="apple-touch-icon" href="../src/icon.png">
    <!-- Stylesheet Library -->
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="css/lib/angular-material.min.css">
    <link rel="stylesheet" href="css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<style>
    /* ----------- Non-Retina Screens ----------- */
    @media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1) {
        body {
            width: 60%;
            margin: auto;
        }

        md-card {
            height: auto !important;
        }

        .image {
            height: auto !important;
        }
    }
</style>
<body id="main-body" class="overflow-hidden">
<!-- Add your site or application content here -->
<div ng-app="WasherNearbyApp" ng-controller="WasherNearbyCtrl">
    <md-toolbar style="background-color: transparent;">
        <div class="md-toolbar-tools">
            <div class="col-2 width-70 padding-0">
                <!--<a href="login.html"><img src="ico/menu-bar-48.png" width="25"></i></a>-->
                <md-button class="md-icon-button md-button md-ink-ripple" ng-click="openNav()">
                    <img src="ico/menu-bar-48.png" aria-label="menu" width="25">
                </md-button>
            </div>
            <!--<div ng-if="!isUser" class="col-10">-->

            <!--</div>-->
            <div class="col-5 text-center black padding-0">
                <small>Xem đơn hàng:</small>
            </div>
            <div class="col-3 padding-0">
                <md-button class="md-icon-button md-button md-ink-ripple" aria-label="cart"
                           ng-click="redirectPage('./buyerOrder.html')">
                    <md-icon md-svg-src="svg/cart32.svg" style="/*width: 35px; height: 35px;*/"></md-icon>
                </md-button>
            </div>
            <div class="col-2 width-70 padding-0">
                <md-button class="md-icon-button md-button md-ink-ripple" aria-label="search"
                           ng-click="redirectPage('./search.html')">
                    <md-icon md-svg-src="svg/search24.svg" style="fill: #975aa6;"></md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <md-content class="main">
        <md-tabs md-dynamic-height md-stretch-tabs md-center-tabs>
            <md-tab id="tab1" aria-controls="tab1-content">
                <md-tab-label>
                    <img src="ico/menu-one-item.png" width="25">
                </md-tab-label>
                <md-tab-body>
                    <md-content ng-style="setStyle" class="tab-body md-padding">
                        <md-list flex="">
                            <md-card ng-repeat="item in list_washer" class="fabSpeedDial">
                                <img ng-src="{{imagePath + item.image}}" class="md-image-no-fill border-radius-15"
                                     alt="{{item.id}}">

                                <!--<md-button class="md-fab md-primary btn-on-img">-->
                                <!--<md-icon class="size-50" md-svg-src="ico/maps-pin48.svg"></md-icon>-->
                                <!--</md-button>-->
                                <div class="lock-size" class="layout-row">
                                    <md-fab-speed-dial md-open="isOpen" md-direction="{{direction}}"
                                                       ng-class="selectedMode">
                                        <md-fab-trigger>
                                            <md-button aria-label="menu" class="md-fab md-warn">
                                                <md-icon md-svg-src="svg/menu.svg"></md-icon>
                                            </md-button>
                                        </md-fab-trigger>
                                        <md-fab-actions>
                                            <md-button aria-label="phone" class="md-fab md-mini btn-phone"
                                                       ng-click="alert(x)">
                                                <md-icon md-svg-src="svg/phone.svg" style="color: white;"></md-icon>
                                            </md-button>
                                            <md-button aria-label="messenger" class="md-fab md-mini btn-fb-messenger"
                                                       ng-click="openPage(messengerPath + item.contact.facebook)">
                                                <md-icon md-svg-src="svg/fb-messenger.svg"
                                                         style="color: white;"></md-icon>
                                            </md-button>
                                            <md-button aria-label="marker" class="md-fab md-mini btn-map-marker">
                                                <md-icon md-svg-src="svg/map-marker.svg"
                                                         style="color: white;"></md-icon>
                                            </md-button>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>
                                <md-card-actions class="layout-row" layout-align="end center">
                                    <md-card-title class="padding-0 col-6 col-sm-7 col-md-8">
                                        <md-card-title-text>
                                            <h4>{{item.brand + ' ' + item.capacity}} kg</h4>

                                            <p>{{item.keyword}}</p>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-button ng-if="isUser" class="col-6 col-sm-5 col-md-4 md-raised md-warn btn-radius"
                                               style="text-transform: none;"
                                               ng-click="showConfirm($index)">Chỉ với {{item.sale_price}} đ
                                    </md-button>
                                    <md-button ng-if="!isUser" class="col-6 col-sm-5 col-md-4 md-raised md-primary btn-radius"
                                               style="text-transform: none;"
                                               ng-click="">Chỉnh sửa
                                    </md-button>
                                </md-card-actions>
                            </md-card>
                            <!--<md-subheader class="md-no-sticky">Tìm thấy {{ washer.length }} máy giặt (Thừa Thiên Huế)</md-subheader>-->
                            <!--<md-list-item class="md-3-line" ng-repeat="item in washer" ng-click="null">-->
                            <!--<md-divider></md-divider>-->
                            <!--<img ng-src="{{item.image}}" class="md-avatar" alt="{{item.city}}">-->
                            <!--<div class="md-list-item-text" layout="column">-->
                            <!--<h3>{{ item.region }}</h3>-->
                            <!--<h3 class="text-danger">{{ item.price }} đ</h3>-->
                            <!--<span><i>{{ item.content }}</i></span>-->
                            <!--</div>-->
                            <!--</md-list-item>-->
                        </md-list>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab2" aria-controls="tab2-content">
                <md-tab-label>
                    <img src="ico/menu-four-item.png" width="25">
                </md-tab-label>
                <md-tab-body>
                    <md-content ng-style="setStyle" class="tab-body md-padding">
                        <md-card ng-repeat="item in list_washer" ng-if="$index % 2 == 0" style="/*height: 320px;*/">
                            <div class="layout-row">
                                <div class="col-6" style="padding-left: 0px;padding-right: 10px;">
                                    <img class="image border-radius-15"
                                         ng-src="{{imagePath + list_washer[$index].image}}"
                                         alt="{{list_washer[$index].id}}">
                                    <md-card-title class="padding-0" style="height: 60px;">
                                        <md-card-title-text>
                                            <h4>{{list_washer[$index].brand + ' ' + list_washer[$index].capacity}}
                                                kg</h4>

                                            <p>{{list_washer[$index].keyword}}</p>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <div class="text-right margin-8">
                                        <md-button ng-if="isUser" class="md-raised md-warn btn-radius"
                                                   style="text-transform: none; font-size: 12px; margin: 0px; float: right;"
                                                   ng-click="showConfirm($index)">
                                            Chỉ với {{list_washer[$index].sale_price}} đ
                                        </md-button>
                                        <md-button ng-if="!isUser" class="md-raised md-primary btn-radius"
                                                   style="text-transform: none; font-size: 12px; margin: 0px; float: right;"
                                                   ng-click="">
                                            Chỉnh sửa
                                        </md-button>
                                    </div>
                                </div>
                                <div ng-if="list_washer[$index+1]" class="col-6"
                                     style="padding-left: 10px;padding-right: 0px;">
                                    <img class="image border-radius-15"
                                         ng-src="{{imagePath + list_washer[$index+1].image}}"
                                         alt="{{list_washer[$index+1].id}}" ng-click="alert($index+1)">
                                    <md-card-title class="padding-0" style="height: 60px;">
                                        <md-card-title-text>
                                            <h4>{{list_washer[$index+1].brand + ' ' +
                                                list_washer[$index+1].capacity}} kg</h4>

                                            <p>{{list_washer[$index+1].keyword}}</p>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <div class="text-right margin-8">
                                        <md-button ng-if="isUser" class="md-raised md-warn btn-radius"
                                                   style="text-transform: none; font-size: 12px; margin: 0px; margin-top: 0px;"
                                                   ng-click="showConfirm($index+1)">
                                            Chỉ với {{list_washer[$index+1].sale_price}} đ
                                        </md-button>
                                        <md-button ng-if="!isUser" class="md-raised md-primary btn-radius"
                                                   style="text-transform: none; font-size: 12px; margin: 0px; float: right;"
                                                   ng-click="">
                                            Chỉnh sửa
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </md-card>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab id="tab3" aria-controls="tab3-content">
                <md-tab-label tabindex="0">
                    <img src="ico/maps-pin.png" width="25">
                </md-tab-label>
                <md-tab-body>
                    <md-content ng-style="setStyle" class="tab-body">
                        <div id="map"></div>
                    </md-content>x
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
    <div id="mySidenav" class="sidenav">
        <!--<a href="#">Cập nhật thông tin cá nhân</a>-->
        <a href="./index.html">Đăng xuất</a>
    </div>
    <!--<section layout="row" flex>-->

    <!--<md-sidenav class="md-sidenav-left" md-component-id="left"-->
    <!--md-disable-backdrop md-whiteframe="4">-->

    <!--<md-toolbar class="md-theme-indigo">-->
    <!--<h1 class="md-toolbar-tools">Disabled Backdrop</h1>-->
    <!--</md-toolbar>-->

    <!--<md-content layout-margin>-->
    <!--<p>-->
    <!--This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.-->
    <!--</p>-->
    <!--<md-button ng-click="toggleLeft()" class="md-accent">-->
    <!--Close this Sidenav-->
    <!--</md-button>-->
    <!--</md-content>-->

    <!--</md-sidenav>-->

    <!--<md-content flex layout-padding>-->

    <!--<div layout="column" layout-align="top center">-->
    <!--<p>-->
    <!--Developers can also disable the backdrop of the sidenav.<br/>-->
    <!--This will disable the functionality to click outside to close the sidenav.-->
    <!--</p>-->

    <!--<div>-->
    <!--<md-button ng-click="toggleLeft()" class="md-raised">-->
    <!--Toggle Sidenav-->
    <!--</md-button>-->
    <!--</div>-->

    <!--</div>-->

    <!--</md-content>-->

    <!--</section>-->
    <!--<footer class="text-center">-->
    <!--<p class="margin-8">Made with all <i aria-hidden="true" class="fa fa-heart" style="color:#d55"></i> by <a href="https://www.facebook.com/hongquyen196" target="_blank" title="Lê Hồng Quyền">LHQ</a></p>-->
    <!--</footer>-->
    <!-- Modal -->
    <div class="modal fade" id="washerModal" role="dialog">
        <div class="modal-dialog modal-lg" style="height: 400px;">
            <div class="modal-content" style="height: 100%">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm máy giặt</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <md-input-container class="md-block">
                        <input ng-model="addWasher.brand" name="brand" type="text" placeholder="Nhãn hiệu của máy"
                               maxlength="45" required>
                    </md-input-container>

                    <md-input-container class="md-block ">
                        <input ng-model="addWasher.capacity" name="capacity" type="text" placeholder="Sức chứa của máy" required>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-button class="md-raised md-primary btn-radius" style="text-transform: none; font-size: 16px;" ng-click="getLocation()">
                            Xác định vị trí
                        </md-button>
                    </md-input-container>

                </div>
                <div class="modal-footer">
                    <md-button class="md-raised md-warn btn-radius" style="text-transform: none; font-size: 16px;" ng-click="addWasherSubmit()">
                        Thêm máy
                    </md-button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="orderModal" role="dialog">
        <div class="modal-dialog modal-lg" style="height: 500px;">
            <div class="modal-content" style="height: 100%">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo đơn hàng</h4>
                    <button type="button" class="close" data-dismiss="modal" ng-click="saveDataTemp()">&times;</button>
                </div>
                <div class="modal-body">
                    <md-input-container class="md-block">
                        <input ng-model="sellerOrder.sale_price" name="sale_price" type="number" placeholder="Giá cho thuê"
                               maxlength="45" required>
                    </md-input-container>

                    <md-input-container class="md-block ">
                        <input ng-model="sellerOrder.street" name="street" type="text" placeholder="Tên đường" required>
                    </md-input-container>

                    <md-input-container class="md-block ">
                        <input ng-model="sellerOrder.ward" name="ward" type="text" placeholder="Tên phường, thị trấn" required>
                    </md-input-container>

                    <md-input-container class="md-block ">
                        <input ng-model="sellerOrder.city" name="city" type="text" placeholder="Tên thành phố, tỉnh" required>
                    </md-input-container>
                </div>
                <div class="modal-footer">
                    <md-button class="md-raised md-warn btn-radius" style="text-transform: none; font-size: 16px;" ng-click="addOrderSubmit()">
                        Tạo đơn hàng
                    </md-button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveDataTemp()">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/lib/angular.min.js"></script>
<script src="./js/lib/angular-animate.min.js"></script>
<script src="./js/lib/angular-aria.min.js"></script>
<script src="./js/lib/angular-messages.min.js"></script>
<script src="./js/lib/angular-material.min.js"></script>
<script src="./js/lib/ngStorage.min.js"></script>
<script src="./js/lib/angular-route.min.js"></script>
<script src="./js/lib/jquery.min.js"></script>
<script src="./js/lib/bootstrap.min.js"></script>
<script
    src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAd1xMYT1bt99qtFWQEzXiRBvORDWHgPtk&libraries=places'></script>
<script src="./js/screen/WasherNearby/WasherNearbyMain.js"></script>
<script src="./js/screen/WasherNearby/WasherNearbyController.js"></script>
<script src="./js/screen/WasherNearby/WasherNearbyService.js"></script>

<script type="text/javascript">

    //    var app = angular.module('WasherNearbyApp', ['ngMaterial', 'ngMessages']);
    //    app.controller('WasherNearbyCtrl', function ($scope, $window) {
    //        //heidht = 511, width = 360 //device Mozilla/5.0 (Linux; Android 5.0; E5653 Build/30.0.A.1.33) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.93 Mobile Safari/537.36
    //        $scope.direction = "right";
    ////        $(document).ready(function () {
    ////        $("md-content.tab-body").css({"height": "calc(" + $(window).height() + "px - 13%)"});
    ////        angular.element(document.querySelector("md-content.tab-body"));
    ////        alert($window.innerWidth + ", " + $window.innerHeight + " , " + $window.navigator.userAgent);
    //        $scope.setStyle = {
    //            "height": $window.innerHeight - 13 * $window.innerHeight / 100 + "px"
    //        };
    //        $scope.direction = ($window.innerWidth < 360 ? "right" : "down");
    //
    ////        alert('"height": "calc(' + $(window).height() + 'px - 13%)"  - "width": "' + $(window).width() + '"');
    //
    ////        });
    ////        $(document).resize(function () {
    ////            $("md-content.tab-body").css({"height": "calc(" + $(window).height() + "px - 13%)"});
    ////            $scope.direction = $(window).width() < 360 ? "right" : "up";
    ////        });
    //


    //    });
</script>
</body>
</html>
